[Unit]
Description="MQTT volume control daemon"
# Note: only needed if broker is local
#Requires=mosquitto.service
#After=mosquitto.service

[Service]
ExecStart=/usr/local/bin/mqttvold.py

[Install]
WantedBy=multi-user.target
